@{
    ViewBag.Title = "Home Page";
}

<div class="row mx-md-n5">
    <button type="button" id="popupBtn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Employee
    </button>
    <div class="col-md-12">
        <table id="mainGrid" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Gender</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Marital Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
            {
                <input type="hidden" id="EmpId" name="EmpId" />
                <input type="hidden" id="formtype" name="formtype" value="save" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add/Edit Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Enter First Name" required onkeyup="validateInputs()" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Enter Last Name" required onkeyup="validateInputs()" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="EmailAddress">Email address</label>
                        <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Enter email" required onkeyup="validateInputs()" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="DOB">DOB</label>
                        <input id="DOB" name="DOB" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="Salary">Salary</label>
                        <input type="number" class="form-control" id="Salary" name="Salary" placeholder="Enter Salary" step="0.01" min="5000">
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <textarea class="form-control" id="Address" rows="3" name="Address" maxlength="500"></textarea>
                    </div>
                    <div class="form-group">
                        <input id="contryDDL" name="contryDDL" />
                        <input id="stateDDL" name="stateDDL" />
                        <input id="cityDDL" name="cityDDL" />
                    </div>
                    <div class="form-group">
                        <label for="ZipCode">ZipCode</label>
                        <input type="text" class="form-control" id="ZipCode" name="ZipCode" placeholder="Enter Zipcode" maxlength="6">
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="gender" value="M" checked>Male</label>
                            <label><input type="radio" name="gender" value="F">Femail</label>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="MaritalStatus" name="MaritalStatus">
                        <label class="form-check-label" for="MaritalStatus">Married</label>
                    </div>
                    <div class="form-group">
                        <label for="Image">Select Profile</label>
                        <input type="file" class="form-control" id="Image" name="Image" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="SubmitBtn">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function get_age(born, now) {
        var part = born.split("/");
        var birthday = new Date(now.getFullYear(), part[1], part[0]);
        if (now >= birthday)
            return now.getFullYear() - part[2];
        else
            return now.getFullYear() - part[2] - 1;
    }

    $("#Salary").blur(function () {
        this.value = parseFloat(this.value).toFixed(2);
    });

    function CityDropDawn(Id) {
        var CitydataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetCitys", "Home")',
                    dataType: "json",
                    data: {
                        StateId: Id
                    }
                }
            }
        });

        $("#cityDDL").kendoDropDownList({
            optionLabel: '--Select City--',
            dataSource: CitydataSource,
            dataTextField: "Name",
            dataValueField: "CityId"
        });
    }

    function StateDropDawn(Id) {
        var StatedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetStates", "Home")',
                    dataType: "json",
                    data: {
                        ContryId: Id
                    }
                }
            }
        });

        $("#stateDDL").kendoDropDownList({
            optionLabel: '--Select State--',
            dataSource: StatedataSource,
            dataTextField: "Name",
            dataValueField: "StateId",
            change: function (e) {
                var value = this.value();
                $("#cityDDL").show();
                CityDropDawn(value);
            }
        });
    }

    function ContryDropDawn() {
        var ContrydataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetContrys", "Home")',
                    dataType: "json"
                }
            }
        });

        $("#contryDDL").kendoDropDownList({
            optionLabel:'--Select Contry--',
            dataSource: ContrydataSource,
            dataTextField: "Name",
            dataValueField: "CountryId",
            change: function (e) {
                var value = this.value();
                $("#stateDDL").show();
                StateDropDawn(value);
            }
        });
    }

    function BindGrid() {
        //Start Datatable
        $('#mainGrid').DataTable({
            "sAjaxSource": "/Home/GetEmployeeList",
            "bServerSide": true,
            "bProcessing": true,
            "bSearchable": true,
            "order": [[0, 'asc']],
            "language": {
                "emptyTable": "No record found.",
                "processing":
                    '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
            },
            "columns": [
                { "data": "FirstName", "autoWidth": true, "searchable": true },
                { "data": "LastName", "autoWidth": true, "searchable": true },
                { "data": "Email", "autoWidth": true, "searchable": true },
                { "data": "Address", "autoWidth": true, "searchable": true },
                { "data": "Gender", "autoWidth": true, "searchable": true },
                { "data": "Birthdate", "autoWidth": true, "searchable": true },
                { "data": "salary", "autoWidth": true, "searchable": true },
                { "data": "MaritalStatus", "autoWidth": true },
                {
                    "data": function (o) {
                        return "<a href='#' onclick='EditEmp(" + o.Id + ")' class='btn btn-info'><i class='fa fa-pencil'></i></a> <a href='#' onclick='DeleteEmp(" + o.Id + ")' class='btn btn-info'><i class='fa fa-trash'></i></a>";
                    }
                }
            ],
        });
        //End Datatable
    }

    $("#exampleModal").on("hidden.bs.modal", function () {
        $("#EmpId").val(0);
        $("#formtype").val("Save");
        $("#FirstName").val('');
        $("#LastName").val('');
        $("#EmailAddress").val('');
        $("#Password").val('');
        $("#ZipCode").val('');
        $("#Salary").val('');
        $("#Address").val('');

        $('#MaritalStatus').prop('checked', false);

        $("input[name=gender][value='M']").prop("checked", true);

        var $datepicker = $('#DOB');
        $datepicker.datepicker();
        $datepicker.datepicker('setDate', '');

        if ($("#contryDDL").data("kendoDropDownList") != undefined) {
            $("#contryDDL").data("kendoDropDownList").select(-1);
            $("#contryDDL").data("kendoDropDownList").destroy();
        }
        if ($("#stateDDL").data("kendoDropDownList") != undefined) {
            $("#stateDDL").data("kendoDropDownList").select(-1);
            $("#stateDDL").data("kendoDropDownList").destroy();
        }
        if ($("#cityDDL").data("kendoDropDownList") != undefined) {
            $("#cityDDL").data("kendoDropDownList").select(-1);
            $("#cityDDL").data("kendoDropDownList").destroy();
        }

        ContryDropDawn();
    });

    function EditEmp(Id) {
        $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmployee", "Home")",
                data: {
                    Id: Id
                },
                success: function (result) {
                    var obj=JSON.parse(result);
                    console.log(obj);
                    $("#EmpId").val(Id);
                    $("#formtype").val("Edit");
                    $("#FirstName").val(obj.FirstName);
                    $("#LastName").val(obj.LastName);
                    $("#EmailAddress").val(obj.Email);
                    $("#Password").val(obj.Password);
                    $("#ZipCode").val(obj.Zipcode);
                    $("#Salary").val(obj.salary);
                    $("#Address").val(obj.Address);

                    var $datepicker = $('#DOB');
                    $datepicker.datepicker();
                    $datepicker.datepicker('setDate', new Date(obj.Birthdate));

                    if (obj.MaritalStatus) {
                        $('#MaritalStatus').prop('checked', true);
                    }

                    $("input[name=gender][value='" + obj.Gender + "']").prop("checked", true);

                    if(obj.Country > 0){
                        $("#contryDDL").data("kendoDropDownList").select(obj.Country);
                        StateDropDawn(obj.Country);
                    }
                    if (obj.State > 0) {
                        setTimeout(function () {
                            $("#stateDDL").data("kendoDropDownList").select(obj.State);
                            CityDropDawn(obj.State);
                        },500);
                    }
                    if (obj.City > 0) {
                        setTimeout(function () {
                            $("#cityDDL").data("kendoDropDownList").select(obj.City);
                        },1000);
                    }

                    $('#exampleModal').modal('show');
                    //$('#exampleModal').modal('hide');
                },
                error: function (result) {
                    console.log('error');
                }
            });
    }

    function DeleteEmp(Id) {
        var yes = confirm("Are you sure you want to remove employee!!.");
        if (yes) {
            console.log(Id);
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteEmployee", "Home")",
                data: {
                    Id: Id
                },
                success: function (result) {
                    //BindGrid();
                    console.log('Deleted Success.');
                },
                error: function (result) {
                    console.log('error');
                }
            });
        } else {
            console.log("You pressed Cancel!");
        }
    }

    $(document).ready(function () {
        $('#SubmitBtn').attr("disabled", true)
        $("#stateDDL").hide();
        $("#cityDDL").hide();

        $('#DOB').datepicker({
            format: 'dd/mm/yyyy',
            endDate: new Date(),
            changeMonth: true,
            changeYear: true
        }).on("changeDate", function (e) {
            var age = get_age($('#DOB').val(), new Date());
            if (age >= 18) {
                $('#SubmitBtn').attr("disabled", false);
            } else {
                $('#SubmitBtn').attr("disabled", true);
            }
        });

        ContryDropDawn();

        BindGrid();
    });
</script>